body, html {
	height: 100%;
}

.greek {
	background: #2ECC71;
	color: white;
	height:50%;
}

.hebrew {
	background: #3498db;
	color: white;
	height: 50%;
}

.hindi {
  background: #f1c40f;
  color: white;
	height: 50%;
}
.cyrillic {
  background: #e74c3c;
  color: white;
	height: 50%;
}
.hiragana {
  background: #c0392b;
  color: white;
	height: 50%;
}
.vietnamese {
  background: #2c3e50;
  color: white;
	height: 50%;
}
.turkish {
  background: #f39c12;
  color: white;
	height: 50%;
}
.about {
  height: 50%;
  font-weight: bold;
  font-size: 2em;
}