body, html {
	height: 100%;
  font-family: "Gentium Basic",  Segoe UI Symbol, Junicode, 'Free Monospaced',  Code2000, Hnias;
}

.greek {
	background: #2ECC71;
	color: white;
	height:33%;
}

.hebrew {
	background: #c0392b;
	color: white;
	height: 33%;
}

.modern-hebrew {
  background: #f1c40f;
  color: white;
	height: 33%;
}
.futhark {
  background: #16a085;
  color: white;
	height: 33%;
}
.cyrillic {
  background: #e74c3c;
  color: white;
	height: 33%;
}
.polish {
  background: #3498db;
  color: white;
	height: 33%;
}
.armenian {
  background: #2c3e50;
  color: white;
	height: 33%;
}
.turkish {
  background: #f39c12;
  color: white;
	height: 33%;
}
.about {
  height: 33%;
  font-weight: bold;
  font-size: 1.4em;
}