body {
  padding: 1em;
  font-size: 2em;
  font-family:  "Gentium Basic", Segoe UI Symbol, Junicode, 'Free Monospaced',  Code2000, Hnias;
}


th {
  font-weight: bold;
}
.sound {
    cursor: pointer;
}