<!DOCTYPE html>
<html>

<head>
    <title>Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='{{ url_for('static', filename='intro.css') }}' rel='stylesheet' type='text/css'>
</head>

<body>
    <a href="/ancient-greek">
        <div class="col-md-3 greek">
            <h1>Ancient Greek Alphabet</h1>
        </div>
    </a>
    <a href="/biblical-hebrew">
        <div class="col-md-3 hebrew">
            <h1>Biblical Hebrew Alphabet</h1>
        </div>
    </a>
    <a href="/modern-hebrew">
        <div class="col-md-3 modern-hebrew">
            <h1>Modern Hebrew Alphabet</h1>
        </div>
    </a>
    <a href="/russian">
        <div class="col-md-3 cyrillic">
            <h1>Cyrillic (Russian) Alphabet</h1>
        </div>
    </a>
    <a href="icelandic">
        <div class="col-md-3 icelandic">
            <h1>Icelandic Alphabet</h1>
        </div>
    </a>
    <a href="/vietnamese">
        <div class="col-md-3 vietnamese">
            <h1>Vietnamese Alphabet</h1>
        </div>
    </a>
    <a href="/turkish">
        <div class="col-md-3 turkish">
            <h1>Turkish Alphabet</h1>
        </div>
    </a>
  <div class="col-md-3 about">
    <p>The Alphabets of the World</p>
    <p>Source available at: </p>
    <a>github.com</a>
  </div>
</body>

</html>