<!DOCTYPE html>
<html>

<head>
    <title>Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='{{ url_for('static', filename='intro.css') }}' rel='stylesheet' type='text/css'>
</head>

<body>
    <a href="/ancient-greek">
        <div class="col-md-4 greek">
            <h1>Ancient Greek Alphabet</h1>
        </div>
    </a>
    <a href="/biblical-hebrew">
        <div class="col-md-4 hebrew">
            <h1>Biblical Hebrew Alphabet</h1>
        </div>
    </a>
    <a href="/modern-hebrew">
        <div class="col-md-4 modern-hebrew">
            <h1>Modern Hebrew Alphabet</h1>
        </div>
    </a>
    <a href="/elder-futhark">
        <div class="col-md-4 futhark">
            <h1>Elder Futhark (Runic) Alphabet</h1>
        </div>
    </a>
    <a href="/russian">
        <div class="col-md-4 cyrillic">
            <h1>Cyrillic (Russian) Alphabet</h1>
        </div>
    </a>
    <a href="/polish">
        <div class="col-md-4 polish">
            <h1>Polish Alphabet</h1>
        </div>
    </a>
    <a href="/armenian">
        <div class="col-md-4 armenian">
            <h1>Armenian Alphabet</h1>
        </div>
    </a>
    <a href="/turkish">
        <div class="col-md-4 turkish">
            <h1>Turkish Alphabet</h1>
        </div>
    </a>
    <div class="col-md-4 about">
        <p>The Alphabets of the World</p>
        <p>Source available at: <a href="https://github.com/davies-adam/letterz">Github</a></p>
      <p>Contact us at: <a href="mailto:hello@leterz.info">hello@leterz.info</a></p>
    </div>
</body>
</html>