<!DOCTYPE html>
<html>
   <head>
	  <title>Intro</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	  <link href='{{ url_for('static', filename='intro.css') }}' rel='stylesheet' type='text/css'>
   </head>
   <body>
     <a href="/ancient-greek">
		 <div class="col-md-3 greek">
			<h1>Ancient Greek Alphabet</h1>
		 </div>
	  </a>
	  <a>
		 <div class="col-md-3 hebrew">
		 <h1>Hebrew Alphabet</h1>
		 </div>
	  </a>
	  <a>
		 <div class="col-md-3 hindi">
		 <h1>Devanagari (Hindi) Alphabet</h1>
		 </div>
	  </a>
	  <a href="russian">
		 <div class="col-md-3 cyrillic">
		 <h1>Cyrillic (Russian) Alphabet</h1>
		 </div>
	  </a>
   </body>
</html>