<!DOCTYPE html>
<html>

<head>
    <title>Uninvited</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='{{ url_for('static', filename='main.css') }}' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-49567311-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();</script>
  <audio id="audio" src="" autoplay="true"></audio>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  <script>
    getAlphabet("{{alphabet}}");
  </script>
  <table class="table">
    <tr>
       <th>Letter (click for sound)</th>
       <th>Sound In English</th>
       <th>Name of letter</th>
       <th>IPA Value</th>
     </tr>
  </table>
</body>

</html>